Q-17. Write an SQL query to show the top n (say 10) records of a table.

SELECT TOP 10 * FROM WORKER;

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

SELECT * FROM 
(SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS SNo, emp_no,salary, full_name FROM WORKER) AS new_table
WHERE new_table.SNo = 5;